h1{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
a{
    color: aquamarine;
    font-size: 16px;
}
<<<<<<< HEAD
h2{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}
p{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}
=======
div.main{
    background-color: black;
    text-align: center
}
>>>>>>> 25e8689d789290ca42db8f3910b8b62c6589bcde
